# lib@home, framework to develop distributed calculations.
# Copyright (C) 2020  Dirk "YouDirk" Lehmann
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Lesser General Public License for more details.
#
# You have received a copy of the GNU Lesser General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.


# Executables
/src/libathome-*/libathome*.so
/src/libathome-*/libathome*.dll
/src/libathome-*/libathome*.pdb
/src/project/*-client
/src/project/*-client.exe
/src/project/*-client.pdb

# Compiling stuff
/src/**/*.o
/src/**/*.d

# Make stuff
.makefile.cache.mk

# Auto completion stuff
/src/**/tags
/src/**/TAGS
/src/**/BROWSE

# Doc stuff
/doc/libathome
/doc/project

# Tools stuff
/tools

# Backup files
*~
*.bak
